In [9]:
import pandas as pd
import string
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
stopword = set(stopwords.words('indonesian'))
from textblob import TextBlob
import nltk
import matplotlib.pyplot as plt
import numpy as np
from nltk.probability import FreqDist
pd.set_option("display.max_columns", 100)

In [2]:
df = pd.read_csv('menwa.csv')

In [3]:
dfAPI = pd.read_csv('./data/menwa_api.csv')

In [10]:
df.head(1)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1467324350198018052,1467096595283918851,2021-12-05 09:46:01 WIB,2021-12-05,09:46:01,700,1278011378268168192,imscretadmrer,beasiswa : Be Dick Me See (last),NaN,@txtdriormas Sama kyk menwa kan,in,[],[],[],0,0,0,[],[],https://twitter.com/imscretadmrer/status/14673...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'txtdriormas', 'name': 'txt d...",NaN,NaN,NaN,NaN

In [8]:
dfAPI.head(1)

,Created at,Description,Favorite count,Followers Count,Friends Count,Hastag,Location,Profile Image Url,Retweet,Statuses Count,Text,User ID,User Name
0,Wed Dec 08 02:38:50 +0000 2021,lil meow @alostparadies,0.0,7.0,61.0,[],NaN,http://pbs.twimg.com/profile_images/1463059448...,0.0,1027.0,@persephonous Gk suka menwa gua anjrkt,1.468410e+18,Izana Kurokawa

In [6]:
print('get from twint')
print(df.columns)
print('----------------------------------------------')
print('get from API')
print(dfAPI.columns)

get from twint
Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')
----------------------------------------------
get from API
Index(['Created at', 'Description', 'Favorite count', 'Followers Count',
       'Friends Count', 'Hastag', 'Location', 'Profile Image Url', 'Retweet',
       'Statuses Count', 'Text', 'User ID', 'User Name'],
      dtype='object')

In [19]:
df.tail(1)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
1622,1464219603094040587,1464082268100513800,2021-11-26 20:08:51 WIB,2021-11-26,20:08:51,700,1356356931510624259,menwa_nagoya,ヌードル麺和 名古屋,NaN,@arancia1676 燃えてます🔥笑,ja,[],[],[],0,0,1,[],[],https://twitter.com/menwa_nagoya/status/146421...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'arancia1676', 'name': 'アランチャ...",NaN,NaN,NaN,NaN

In [29]:
df['language'].unique()
dfID = df[(df['language']=='in')]

In [30]:
dfID.tail(1)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
1621,1464260383166767104,1464260383166767104,2021-11-26 22:50:54 WIB,2021-11-26,22:50:54,700,99254765,brs188,BRS|はな,NaN,baru tau bapak aing dulu mudanya pentolan menw...,in,[],[],[],0,0,0,[],[],https://twitter.com/brs188/status/146426038316...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [20]:
dfAPI.tail(1)

,Created at,Description,Favorite count,Followers Count,Friends Count,Hastag,Location,Profile Image Url,Retweet,Statuses Count,Text,User ID,User Name
999,Wed Dec 01 05:54:39 +0000 2021,Temen rl jauh2 plis,0.0,346.0,473.0,[],NaN,http://pbs.twimg.com/profile_images/1329034309...,1115.0,4085.0,"RT @collegemenfess: [cm] menwa lagi guys, kena...",1.465922e+18,seminar sidang online amin

In [32]:
dfN = dfID
dfN.tail(2)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
1620,1464414685722148868,1464413056973164547,2021-11-27 09:04:03 WIB,2021-11-27,09:04:03,700,1410619421236678662,olympiareku,Aries Twins ♈ | Olympia,NaN,@z_lalisa_a Konteksnya apanih? Klo umum Kecura...,in,[],[],[],1,0,0,[],[],https://twitter.com/OlympiaReku/status/1464414...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'z_lalisa_a', 'name': 'L² || ...",NaN,NaN,NaN,NaN
1621,1464260383166767104,1464260383166767104,2021-11-26 22:50:54 WIB,2021-11-26,22:50:54,700,99254765,brs188,BRS|はな,NaN,baru tau bapak aing dulu mudanya pentolan menw...,in,[],[],[],0,0,0,[],[],https://twitter.com/brs188/status/146426038316...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [50]:
print(dfAPI.dtypes)
print('---------------------')
print(dfN.dtypes)

Created at            object
Description           object
Favorite count       float64
Followers Count      float64
Friends Count        float64
Hastag                object
Location              object
Profile Image Url     object
Retweet              float64
Statuses Count       float64
Text                  object
User ID              float64
User Name             object
dtype: object
---------------------
id                   int64
conversation_id      int64
created_at          object
date                object
time                object
timezone             int64
user_id              int64
username            object
name                object
place              float64
tweet               object
language            object
mentions            object
urls                object
photos              object
replies_count        int64
retweets_count       int64
likes_count          int64
hashtags            object
cashtags            object
link                object
retweet               bool
quote_url           object
video                int64
thumbnail           object
near               float64
geo                float64
source             float64
user_rt_id         float64
user_rt            float64
retweet_id         float64
reply_to            object
retweet_date       float64
translate          float64
trans_src          float64
trans_dest         float64
dtype: object

In [5]:
df.tweet.head()

0                      @txtdriormas Sama kyk menwa kan
1    @txtfromsoc Menwa gmn, pak @gibran_tweet @pold...
2    @txtfromted @sunsantuuuy Ini menwa uns  https:...
3          @anjasbaguss Opo jare pak menwa @VanNovan13
4    @hirakousukehara @safirawwww Bukan menwa uns y...
Name: tweet, dtype: object

In [6]:
dfSlang=open('data/slang.txt',"r",encoding="utf-8", errors='replace')
slangS = dfSlang.readlines(); dfSlang.close()

In [7]:
slangS = [t.strip('\n').strip() for t in slangS]
slangS = [t.split(":") for t in slangS]
slangS = [[k.strip(), v.strip()] for k,v in slangS]
slangS = {k:v for k,v in slangS}

In [8]:
arr = []
for i in df['tweet'].values:
    var = i.lower()
    T = TextBlob(var).words
    for i,t in enumerate(T):
        if t in slangS.keys():
            T[i] = slangS[t]
    querywords = ' '.join(T).split()
    resultwords  = [word for word in querywords if word not in stopword]
    result = ' '.join(resultwords)
    arr.append(result)

In [9]:
df['tweet_new'] = arr
df['tweet_new'].head()

0                                    txtdriormas menwa
1    txtfromsoc menwa bagamana gibran_tweet poldaja...
2    txtfromted sunsantuuuy menwa uns https t.co/da...
3                anjasbaguss opo jare menwa vannovan13
4    hirakousukehara safirawwww menwa uns iya kmren...
Name: tweet_new, dtype: object

In [10]:
df['tweet_nt'] = df['tweet_new'].apply(lambda x: word_tokenize(str(x)))
tweets = [word for tweet in df['tweet_nt'] for word in tweet]
fqdist = FreqDist(tweets)

print(fqdist)

most_common_word = fqdist.most_common(20)
print(most_common_word)
print()
result = pd.Series(nltk.ngrams(tweets, 10)).value_counts()[:20]
print(result)

<FreqDist with 5253 samples and 17672 outcomes>
[('menwa', 1906), ('areajulid', 310), ('https', 298), ('kampus', 264), ('mahasiswa', 216), ('iya', 206), ('collegemenfess', 180), ('sih', 155), ('meninggal', 126), ('jakarta', 126), ('kegiatan', 123), ('pembaretan', 112), ('upn', 107), ('veteran', 104), ('upnvj', 101), ('korban', 99), ('as_confirm', 97), ('universitas', 93), ('mahasiswi', 90), ('nasional', 81)]

(d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia)               28
(mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal)           28
(menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj)               27
(resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran)           26
(mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta)           26
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti)            12
(pembaretan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)        10
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti)         8
(dijalankan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)         6
(pembaretan, dijalankan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)       6
(pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti, aktivitas, pembaretan)                6
(universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti, aktivitas)               6
(dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)       6
(pembaretan, dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)     6
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, selagi)            6
(universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti, kesibukan)           5
(pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti, kesibukan, pembaretan)            5
(kesibukan, pembaretan, dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas)       5
(mengikuti, kesibukan, pembaretan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas)          4
(kesibukan, pembaretan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)        4
dtype: int64