In [7]:
import pandas as pd
import string
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
stopword = set(stopwords.words('indonesian'))
from textblob import TextBlob
import nltk
import matplotlib.pyplot as plt
import numpy as np
from nltk.probability import FreqDist

In [11]:
df = pd.read_csv('menwa.csv')

In [12]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1467324350198018052,1467096595283918851,2021-12-05 09:46:01 WIB,2021-12-05,09:46:01,700,1278011378268168192,imscretadmrer,beasiswa : Be Dick Me See (last),NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'txtdriormas', 'name': 'txt d...",NaN,NaN,NaN,NaN
1,1467323672926908417,1467319996313325572,2021-12-05 09:43:19 WIB,2021-12-05,09:43:19,700,77911644,taryokolanjar,kocheng,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'txtfromsoc', 'name': 'txtdar...",NaN,NaN,NaN,NaN
2,1467309150069669889,1467115967876460546,2021-12-05 08:45:37 WIB,2021-12-05,08:45:37,700,830042864,hirakousukehara,Bos,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'txtfromted', 'name': 'sinoph...",NaN,NaN,NaN,NaN
3,1467307625029111810,1467299314498105345,2021-12-05 08:39:33 WIB,2021-12-05,08:39:33,700,943518633661100032,aldinwidyanto,ダーウン,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'anjasbaguss', 'name': 'Anjas...",NaN,NaN,NaN,NaN
4,1467302475875053568,1467115967876460546,2021-12-05 08:19:06 WIB,2021-12-05,08:19:06,700,120027641,sunsantuuuy,bu bambang tuku gedhang,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'hirakousukehara', 'name': 'B...",NaN,NaN,NaN,NaN

In [13]:
df.tweet.head()

0                      @txtdriormas Sama kyk menwa kan
1    @txtfromsoc Menwa gmn, pak @gibran_tweet @pold...
2    @txtfromted @sunsantuuuy Ini menwa uns  https:...
3          @anjasbaguss Opo jare pak menwa @VanNovan13
4    @hirakousukehara @safirawwww Bukan menwa uns y...
Name: tweet, dtype: object

In [14]:
dfSlang=open('data/slang.txt',"r",encoding="utf-8", errors='replace')
slangS = dfSlang.readlines(); dfSlang.close()

In [15]:
slangS = [t.strip('\n').strip() for t in slangS]
slangS = [t.split(":") for t in slangS]
slangS = [[k.strip(), v.strip()] for k,v in slangS]
slangS = {k:v for k,v in slangS}

In [16]:
arr = []
for i in df['tweet'].values:
    var = i.lower()
    T = TextBlob(var).words
    for i,t in enumerate(T):
        if t in slangS.keys():
            T[i] = slangS[t]
    querywords = ' '.join(T).split()
    resultwords  = [word for word in querywords if word not in stopword]
    result = ' '.join(resultwords)
    arr.append(result)

In [17]:
df['tweet_new'] = arr
df['tweet_new'].head()

0                                    txtdriormas menwa
1    txtfromsoc menwa bagamana gibran_tweet poldaja...
2    txtfromted sunsantuuuy menwa uns https t.co/da...
3                anjasbaguss opo jare menwa vannovan13
4    hirakousukehara safirawwww menwa uns iya kmren...
Name: tweet_new, dtype: object

In [20]:
df['tweet_nt'] = df['tweet_new'].apply(lambda x: word_tokenize(str(x)))
tweets = [word for tweet in df['tweet_nt'] for word in tweet]
fqdist = FreqDist(tweets)

print(fqdist)

most_common_word = fqdist.most_common(20)
print(most_common_word)
print()
result = pd.Series(nltk.ngrams(tweets, 10)).value_counts()[:20]
print(result)

<FreqDist with 5253 samples and 17672 outcomes>
[('menwa', 1906), ('areajulid', 310), ('https', 298), ('kampus', 264), ('mahasiswa', 216), ('iya', 206), ('collegemenfess', 180), ('sih', 155), ('meninggal', 126), ('jakarta', 126), ('kegiatan', 123), ('pembaretan', 112), ('upn', 107), ('veteran', 104), ('upnvj', 101), ('korban', 99), ('as_confirm', 97), ('universitas', 93), ('mahasiswi', 90), ('nasional', 81)]

(d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia)               28
(mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal)           28
(menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj)               27
(mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran, jakarta)           26
(resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional, veteran)           26
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti)            12
(pembaretan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)        10
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti)         8
(fisioterapi, universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, selagi)            6
(dijalankan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)         6
(pembaretan, dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)     6
(pembaretan, dijalankan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)       6
(universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti, aktivitas)               6
(pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti, aktivitas, pembaretan)                6
(dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan, nasional)       6
(pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti, kesibukan, pembaretan)            5
(universitas, pembangunan, nasional, veteran, jakarta, upnvj, meninggal, dunia, mengikuti, kesibukan)           5
(kesibukan, pembaretan, dilaksanakan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas)       5
(nasional, veteran, jakarta, upnvj, meninggal, dunia, ikuti, aktivitas, pembaretan, resimen)                    4
(kesibukan, pembaretan, resimen, mahasiswa, menwa, mahasiswi, d3, fisioterapi, universitas, pembangunan)        4
dtype: int64